# Database configuration
DB_USER:
DB_NAME:
DB_PASSWORD:
DB_PORT:
DB_HOST:

# JWT and AES Keys
JWT_SECRET:
AES_KEY:

# Mailing configuration
APP_URL: ""
SMTP_HOST: ""
SMTP_PORT: ""
SMTP_SENDER_NAME: ""
SMTP_AUTH_EMAIL: ""
SMTP_AUTH_PASSWORD: ""

# Midtrans configuration
CLIENT_KEY: ""
SERVER_KEY: ""
IsProd: false

# AWS S3 configuration
AWS_S3_BUCKET: ""
AWS_S3_REGION: ""
AWS_ACCESS_KEY: ""
AWS_SECRET_KEY: ""