<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password for Foodia</title>
</head>
<body>
<div class="container">
    <h1>Reset Password</h1>
    <p>Your password for pwn.college has been changed.</p>
    <p>If you didn't request a password change you can reset your password here:</p>
    <p>{{ .resetPasswordLink }}</p>
    <p>If the link is not clickable, try copying and pasting it into your browser.</p>
</div>
</body>
</html>